.article_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.chapter_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 15px;
}

.imageSlider_container {
  width: 100%;
  height: 600px;
}

.chapterWithImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_article {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 15px;
}

.header_article > h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  margin-left: 15px;
}
