.input_main {
  width: 270px;
  border: 1px solid rgb(126, 120, 120);
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 6px;
  color: rgba(0, 0, 0, 0.79);
  border-radius: 5px;
  margin: 5px;
  transition: 0.5s;
}

.input_main:focus {
  border: 1px solid rgb(58, 58, 255);
  outline: none;
}

.span_error {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: red;
}
