.contentEditList_main {
  width: 100%;
}

.contentEditList_li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.tooltip_rounded {
  border-radius: 5px !important;
  background-color: #af4c4c !important;
  color: white !important;
  padding: 10px !important;
}
