.editTravel_textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  margin: 5px;
  outline: none;
  width: 100%;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.266);
  padding: 0;
  border-radius: 5px;
  transition: 0.5s;
}

.editTravel_textarea:hover {
  border: 1px solid rgba(17, 17, 216, 0.389);
}
