.layout {
  position: absolute;
  /* height: 100%; */
  width: 100%;
}

.left {
  /* border-right: 1px solid rgba(255, 255, 255, 0.414); */
  width: 20%;
}

.center {
  /* border-right: 1px solid rgba(0, 0, 0, 0.388);
  border-left: 1px solid rgba(0, 0, 0, 0.388); */
  width: 60%;
  max-width: 800px;
}

.right {
  width: 20%;
}

@media screen and (orientation: portrait) {
  .right,
  .left {
    display: none;
  }

  .center {
    width: 100%;
  }

  .btn_up {
    display: none;
  }
}

.btn_up {
  cursor: pointer;
  bottom: 10%;
  position: fixed;
  font-size: 3rem;
  color: rgba(128, 128, 128, 0.467);
}
