.header_main {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.352);
  background-image: linear-gradient(
    to right,
    #eceef2,
    #c2d0ef,
    #98b3eb,
    #6c96e6,
    #3479e0
  );
}

.btn_panel {
  margin-right: 20px;
}

.icon > img {
  width: 120px;
  margin-left: 30px;
  cursor: pointer;
}
